<xml>
  <locale_file>C:\Users\smart\Desktop\minecraft server\minecraft server template\\Bukkitgui2\\config\\default.xml</locale_file>
  <addons_enable_backup>1</addons_enable_backup>
  <console_color_info>-16776961</console_color_info>
  <console_color_playeraction>-16751616</console_color_playeraction>
  <console_color_severe>-7667712</console_color_severe>
  <console_color_warning>-29696</console_color_warning>
  <console_date>0</console_date>
  <console_time>1</console_time>
  <console_autoscroll>1</console_autoscroll>
  <console_autostart>0</console_autostart>
  <addons_enable_issues>1</addons_enable_issues>
  <addons_enable_notifications>1</addons_enable_notifications>
  <notifications_enabled>0</notifications_enabled>
  <notifications_always>0</notifications_always>
  <notifications_status>0</notifications_status>
  <notifications_join>0</notifications_join>
  <notifications_leave>0</notifications_leave>
  <notifications_kick>0</notifications_kick>
  <notifications_ban>0</notifications_ban>
  <notifications_sound_error>0</notifications_sound_error>
  <notifications_sound_warn>0</notifications_sound_warn>
  <notifications_sound_join>0</notifications_sound_join>
  <notifications_sound_leave>0</notifications_sound_leave>
  <addons_enable_updater>1</addons_enable_updater>
  <addons_enable_editor>1</addons_enable_editor>
  <addons_enable_forwarder>1</addons_enable_forwarder>
  <addons_enable_playerlist>1</addons_enable_playerlist>
  <addons_enable_plugins>1</addons_enable_plugins>
  <starter_servertype>5</starter_servertype>
  <starter_updatebehaviour>0</starter_updatebehaviour>
  <starter_updatebranch>0</starter_updatebranch>
  <starter_minram>512</starter_minram>
  <starter_maxram>4096</starter_maxram>
  <starter_javaversion>0</starter_javaversion>
  <starter_jarfile>C:\Users\smart\Desktop\minecraft server\minecraft multiversion\paperclip.jar</starter_jarfile>
  <starter_optionalarguments>
  </starter_optionalarguments>
  <starter_optionalflags>
  </starter_optionalflags>
  <addons_enable_tasker>1</addons_enable_tasker>
</xml>